* {box-sizing: border-box;}
ul {list-style-type: none;}

#ingreso{
  display:none;
  position: absolute;
  align-self: center;
  border: 2px solid #65499c;
  height: 300px;
  width: 650;
  margin: 30px 800px 30px 400px;
  z-index: 1;
  background-color: #c6a3ff;
  padding-left: 20px;
}

#lbl{
  font-size: 20px;
  text-align: left;
  display: inline;
}

/*Calendario */
.calendario{
    margin: 100px;
}


.mes {
  background: #9575cd;
  text-align: center;
  margin: 0px;
  height: 100px;
  padding-top: 17px;
}
 .icon{
    float: right;
 }


.mes ul li {
  color: white;
  font-size: 20px;
  letter-spacing: 4px;
}



.semana {
  margin: 0;
  padding: 10px 0;
  background-color: #c7a4ff;
}

.semana li {
  display: inline-block;
  width: 13.4%;
  color: white;
  text-align: center;
  border-right: 1px solid

}

#borrar{
    border-right: 0px solid;
}


.dia {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.dia li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

/*Barra*/
.barraIconos {
    display:flex;
    flex-direction: row;
    background-color: #65499c;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .header{
      color: white;
      font-size: 20px;
      padding: 20px;
      border-right: 1px solid;
  }
  
  .barraIconos a {

    text-align: center;
    flex-grow: 1;
    padding: 16px;
    color: white;
    font-size: 36px;
  }

  .barraIconos i{
    padding-top: 0px;
    margin-top: 0px;
  }
  

  .nombre{
      font-size: 15px;
      padding: 0;
      margin: 0;
  }

  /*Login*/

  /* Full-width input fields */
.datos{
  display: flex;
  flex-direction: column;
}

label{
  color: white;
  padding-top: 10px;
  font-size: 17px;
  text-align: center;
}

input {
    width: 70%;
    padding: 15px;
    margin-left: 120px;
    border: 2px solid #ccc;
    box-sizing: border-box;
  }
  
  
  .enviarDatos {
    background-color: #9575cd;
    color: white;
    align-self: center;
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px solid #ccc;
    cursor: pointer;
    width: 30%;
  }
  
  #ingreso{
    cursor: pointer;
  }

  button:hover {
    opacity: 0.8;
  }
  
  
  #contiene-usuario{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100px;
  }
  /* Center the image and position the close button */
  .usuario {
    margin: 24px;
    width: 10%;
  }
 
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .registro {

    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .contenido-registro {
    background-color: #c6a3ff;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
