* {box-sizing: border-box;}
ul {list-style-type: none;}

body{
    /*background-image: url("../img/fondo.jpg");*/
    background-color: #F4DECB;
}
#ingreso{
    align-self: center;
    border: 2px solid #65499c;
    height: auto;
    width: 50%;
    margin: 10% 50% 10% 20%;
    background-color: #c6a3ff;
    padding: 20px;
}

#lbl{
    font-size: 20px;
    text-align: left;
    display: inline;
}

.alta{ /*Averiguar por que no anda margin*/
    text-align: right;
    color: white;
    margin-top: 20px;
    padding: 280px;
    font-size: 20px;
    font-weight: bold;
    width: 70px;
}

/*Calendario */
.calendario{
    margin: 100px;
}

#my-calendar{
    margin-left: 500px;
    margin-top: 5px;
}

#calendarioYrefes{
    display: in-line-block;
    display: flex;
    flex-direction: row;
}

#referencias{
   background: #dfdce3;
   border-radius: 42px 42px 42px 42px;
    -moz-border-radius: 42px 42px 42px 42px;
    -webkit-border-radius: 42px 42px 42px 42px;
    -webkit-box-shadow: 10px 10px 57px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 57px -9px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 57px -9px rgba(0,0,0,0.75);
    margin-top: 200px;
    margin-right: 50px;
    width: 25%;
    height: 20%;
    color: white;
    float: right;
    margin-top: 100px;
    margin-left: 30px;
    
}

.colorReferenciaR{
    background-color: #FC4A1A;
        width: 10px;
    height: 10px;
    
}

.colorReferenciaG{
    background-color: #4ABDAC;
        width: 10px;
    height: 10px;
}

.colorReferenciaY{
    background-color: #F7B733;
        width: 10px;
    height: 10px;
}

.referenciaB{
    display:flex;
    felx-direction:row;
    display: flex;
    justify-content: unset;
    align-items: baseline;
}

.datosClases{
    background: #ddc1e6;
    border-radius: 42px 42px 42px 42px;
    -moz-border-radius: 42px 42px 42px 42px;
    -webkit-border-radius: 42px 42px 42px 42px;
    -webkit-box-shadow: 10px 10px 57px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 57px -9px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 57px -9px rgba(0,0,0,0.75);
    width: 45%;
    height: 200px;
    margin-left: 360px;
    margin-bottom: 30px;
    display: flex;
}

.condiciones{
    color: white;
}

.condiciones h2{
    text-align: center;
    margin-top: 2px;
}
.inicioT{
    height:100%
}

.precio{
    color: white;
    width: 50%;
    text-align: center;
    margin-top: 30px;
}

.reservarDatos{
    background-color: red;
    color: white;
    align-self: center;
    padding: 14px 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    border: 2px solid red;
    cursor: pointer;
    font-weight: bold;
    font: status-bar;
}

div.datosClases ul {
    list-style-type: disc;
}

.mes {
    background: #9575cd;
    text-align: center;
    margin: 0px;
    height: 100px;
    padding-top: 17px;
}
.icon{
    float: right;
}


.mes ul li {
    color: white;
    font-size: 20px;
    letter-spacing: 4px;
}



.semana {
    margin: 0;
    padding: 10px 0;
    background-color: #c7a4ff;
}

.semana li {
    display: inline-block;
    width: 13.4%;
    color: white;
    text-align: center;
    border-right: 1px solid

}

#borrar{
    border-right: 0px solid;
}


.dia {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.dia li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
}

/*Barra*/
.barraIconos {
    display:flex;
    flex-direction: row;
    background-color: #94618E;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#inscriptos{
    background: #ddc1e6;
    border-radius: 42px 42px 42px 42px;
    -moz-border-radius: 42px 42px 42px 42px;
    -webkit-border-radius: 42px 42px 42px 42px;
    -webkit-box-shadow: 10px 10px 57px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 57px -9px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 57px -9px rgba(0,0,0,0.75);
    width: 25%;
    height: 100px;
    margin-left: 20px;
    margin-top: 30px;
}

#textoInscriptos{
    color: white;
    width: 100%;
    padding-left: 10px;
    padding-top: 18px;
    display: inline-block;
}

#textoLibreta{
    color: white;
    width: 100%;
    padding-left: 10px;
    padding-top: 18px;
    display: inline-block;
}



.headerA{
    color: white;
    font-size: 20px;
    padding: 20px;
    border-right: 1px solid;
}



footer div.barraIconos{
    color: white;
    font-size: 14px;
    padding: 20px;
    display:flex;
    flex-direction: row;
    flex-grow: 20;
    margin-bottom: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.barraIconos a {

    text-align: center;
    flex-grow: 1;
    padding: 16px;
    color: white;
    font-size: 36px;
}

.barraIconos i{
    padding-top: 0px;
    margin-top: 0px;
}


.nombre{
    font-size: 15px;
    padding: 0;
    margin: 0;
}

#telFooter{
    padding-left: 783px;
}

#direcFooter{
    padding-left: 40px;
}

/*Login*/

/* Full-width input fields */
.datos{
    display: flex;
    flex-direction: column;
}

label{
    color: white;
    padding-top: 10px;
    font-size: 17px;
    text-align: center;
}

input {
    width: 70%;
    padding: 15px;
    margin-left: 120px;
    border: 2px solid #ccc;
    box-sizing: border-box;
}

.enviarDatos {
    background-color: #9575cd;
    color: white;
    align-self: center;
    padding: 14px 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 40%;
    border: 2px solid #ccc;
    cursor: pointer;
}

#ingreso{
    cursor: pointer;
}

.cursor{
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}


#contiene-usuario{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin: 10px;
}

.usuario {
    margin-top: 50px;
    margin-bottom: 30px;
    width: 10%;
}


.registro {
    display:flex;
    flex-direction: row;
    
}

.contiene-titulo{
    display:flex;
    flex-direction: row;
}

/* Modal Content/Box */
.contenido-registro {
    display:flex;
    flex-direction: column;
    
    background-color: #c6a3ff;
    margin: 5% auto 15% 5%;
    width: 70%; 
    padding-top: 10px;
    
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px solid #000000;
    -webkit-box-shadow: 20px 10px 43px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 20px 10px 43px 5px rgba(0,0,0,0.75);
    box-shadow: 20px 10px 43px 5px rgba(0,0,0,0.75);
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

#salir{
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    color:white;
}

a{
    color:#65499c;
}


/* Reserva */


.contenedorForm{
    margin: 100px;
    border: 2px double  #65499c;
    background: #ede7f6;

}

.contenidoForm{
    margin: 30px;

}

.mensaje{
    background-color: transparent;
    border: 0px;
    align-self: center;

}

.columnas input.foco {
    border: 1px solid #00c;
    background: #fff;
}
div.rango{
    display: flex;
    justify-content: center;
    align-items: center;
}

div.labelInput{
    display: flex;
    flex-direction: column;
}

div.rango input{
    width:50%;
    margin-top: 20px;
    margin-right: 5px;
}
div.rango label{
    width:50%;
}
input.error {
    border: 1px solid #c00;
    background: #ffcccc;
}

input.ok{
    border:inherit
}

.cerrar{
    background: none;
    border: 0px;
    color: white;
    cursor: pointer;
}

.botones{
    
    display: flex;
    flex-direction: column;
    margin: 10%;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    text-align: center;
    height: 400px;
}

.botones a{
    background-color: lightblue;
    font-size: 36px;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px solid #000000;
    -webkit-box-shadow: 20px 10px 43px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 20px 10px 43px 5px rgba(0,0,0,0.75);
    box-shadow: 20px 10px 43px 5px rgba(0,0,0,0.75);
    color:white;
}

.ui .celled .list{
        margin: 5% 20% 20% 20%
}

.titulo{
    height: auto;
    width: auto;
    margin: 1% 20%;
}

.error{
    color:firebrick;
}

div.containerL{
    height:80%;
    padding:5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

#dropdown {
width: 70%;
    padding: 15px;
    margin-left: 120px;
    border: 2px solid #ccc;
    box-sizing: border-box;
}
.changeClientBtn{
    cursor:pointer;
}

.titulo{
    font-size: 30px;
    text-align: center;
}
.aprobar{
    margin-left: 50px;
}

aprobarLibreta{
    cursor:pointer;
}

.usuarioLogueado{
        display: flex;
    align-items: center;
}

div.header{
        color: black;
}

p{
    text-align:center;
}